
{% extends 'main.html' %}
{% load tags %}
{% load staticfiles %}
{% block article %}




    <header class="intro-header" style="background-image: url('{% contact_image 1 %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{% contact_me 1 %}</h1>

                        <hr class="small">
                        <span class="subheading">{% contact_opisanie 1 %}</span> </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% autoescape off %} {% contact_content 1 %}{% endautoescape %}
                <form action="/contact/" method="post">{% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <h3>Email</h3>
                            <label for="id_sender"></label>
                            <p class="help-block text-danger">{{ form.sender }} </p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <h3>Тема</h3>
                            <label for="id_subject"></label>
                            {{ form.subject.errors }}
                            {{ form.subject }}

                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <h3>Сообщение:</h3>
                            <label for="id_message"></label>
                            {{ form.message.errors }}
                            {{ form.message }}
                        </div>
                    </div>





                    <input type="submit" value="Отправить"/>

                </form>
            </div>
        </div>
    </div>

    <hr>

   {% endblock %}
