{% load staticfiles %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">

                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                </ul>
                <br>
                <p class="copyright text-muted">Copyright &copy; Just for fun</p>

            </div>
        </div>
    </div>

</footer>

<!-- jQuery -->
<script src="{% static "static/vendor/jquery/jquery.min.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "static/vendor/bootstrap/js/bootstrap.min.js" %}"></script>

<!-- Contact Form JavaScript -->
<script src="{% static "static/js/jqBootstrapValidation.js" %}"></script>
<script src="{% static "static/js/contact_me.js" %}"></script>

<!-- Theme JavaScript -->
<script src="{% static "static/js/clean-blog.min.js" %}"></script>