<ul class="nav navbar-nav navbar-right">
    <li>

        <form class="navbar-form navbar-left input-sm hidden-xs" role="search" action="/" method="GET">
            <div class="form-group">
                <input type="text" class="form-control hidden-xs" placeholder="Поиск"   name="q">
            </div>
            <a href="/" class="hidden-xs">Главная</a>
    </li>


    {% for i in data %}
        <li class="da">
            <a href="/{{ i.link }}">{{ i.nazvanie }}</a>
        </li>
    {% endfor %}

</ul>

</form>